---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/<USER>/<PROJECT>/pulls/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1404469588'
      Last-Modified:
      - Fri, 04 Jul 2014 09:41:04 GMT
      Etag:
      - '"44e08e7498aba17aba3718494c3183b3"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/<USER>/<PROJECT>/pulls/1","id":17153232,"html_url":"https://github.com/<USER>/<PROJECT>/pull/1","diff_url":"https://github.com/<USER>/<PROJECT>/pull/1.diff","patch_url":"https://github.com/<USER>/<PROJECT>/pull/1.patch","issue_url":"https://api.github.com/repos/<USER>/<PROJECT>/issues/1","number":1,"state":"closed","title":"feature-1","user":{"login":"<USER>","id":8465,"avatar_url":"https://avatars.githubusercontent.com/u/8465?","gravatar_id":"9b741203feda475cbeae8b384de9f415","url":"https://api.github.com/users/<USER>","html_url":"https://github.com/<USER>","followers_url":"https://api.github.com/users/<USER>/followers","following_url":"https://api.github.com/users/<USER>/following{/other_user}","gists_url":"https://api.github.com/users/<USER>/gists{/gist_id}","starred_url":"https://api.github.com/users/<USER>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<USER>/subscriptions","organizations_url":"https://api.github.com/users/<USER>/orgs","repos_url":"https://api.github.com/users/<USER>/repos","events_url":"https://api.github.com/users/<USER>/events{/privacy}","received_events_url":"https://api.github.com/users/<USER>/received_events","type":"User","site_admin":false},"body":null,"created_at":"2014-06-15T14:47:03Z","updated_at":"2014-06-16T04:29:22Z","closed_at":"2014-06-15T14:49:10Z","merged_at":"2014-06-15T14:49:10Z","merge_commit_sha":"832223a596614bf6af83142ad5b4301e5b5ebf0b","assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/<USER>/<PROJECT>/pulls/1/commits","review_comments_url":"https://api.github.com/repos/<USER>/<PROJECT>/pulls/1/comments","review_comment_url":"https://api.github.com/repos/<USER>/<PROJECT>/pulls/comments/{number}","comments_url":"https://api.github.com/repos/<USER>/<PROJECT>/issues/1/comments","statuses_url":"https://api.github.com/repos/<USER>/<PROJECT>/statuses/142d5962881d3db66bdd2c257486a72f2cb175d8","head":{"label":"<USER>:feature-1","ref":"feature-1","sha":"142d5962881d3db66bdd2c257486a72f2cb175d8","user":{"login":"<USER>","id":8465,"avatar_url":"https://avatars.githubusercontent.com/u/8465?","gravatar_id":"9b741203feda475cbeae8b384de9f415","url":"https://api.github.com/users/<USER>","html_url":"https://github.com/<USER>","followers_url":"https://api.github.com/users/<USER>/followers","following_url":"https://api.github.com/users/<USER>/following{/other_user}","gists_url":"https://api.github.com/users/<USER>/gists{/gist_id}","starred_url":"https://api.github.com/users/<USER>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<USER>/subscriptions","organizations_url":"https://api.github.com/users/<USER>/orgs","repos_url":"https://api.github.com/users/<USER>/repos","events_url":"https://api.github.com/users/<USER>/events{/privacy}","received_events_url":"https://api.github.com/users/<USER>/received_events","type":"User","site_admin":false},"repo":{"id":20568267,"name":"<PROJECT>","full_name":"<USER>/<PROJECT>","owner":{"login":"<USER>","id":8465,"avatar_url":"https://avatars.githubusercontent.com/u/8465?","gravatar_id":"9b741203feda475cbeae8b384de9f415","url":"https://api.github.com/users/<USER>","html_url":"https://github.com/<USER>","followers_url":"https://api.github.com/users/<USER>/followers","following_url":"https://api.github.com/users/<USER>/following{/other_user}","gists_url":"https://api.github.com/users/<USER>/gists{/gist_id}","starred_url":"https://api.github.com/users/<USER>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<USER>/subscriptions","organizations_url":"https://api.github.com/users/<USER>/orgs","repos_url":"https://api.github.com/users/<USER>/repos","events_url":"https://api.github.com/users/<USER>/events{/privacy}","received_events_url":"https://api.github.com/users/<USER>/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/<USER>/<PROJECT>","description":"Test
        repository for GitHub API and everything","fork":false,"url":"https://api.github.com/repos/<USER>/<PROJECT>","forks_url":"https://api.github.com/repos/<USER>/<PROJECT>/forks","keys_url":"https://api.github.com/repos/<USER>/<PROJECT>/keys{/key_id}","collaborators_url":"https://api.github.com/repos/<USER>/<PROJECT>/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/<USER>/<PROJECT>/teams","hooks_url":"https://api.github.com/repos/<USER>/<PROJECT>/hooks","issue_events_url":"https://api.github.com/repos/<USER>/<PROJECT>/issues/events{/number}","events_url":"https://api.github.com/repos/<USER>/<PROJECT>/events","assignees_url":"https://api.github.com/repos/<USER>/<PROJECT>/assignees{/user}","branches_url":"https://api.github.com/repos/<USER>/<PROJECT>/branches{/branch}","tags_url":"https://api.github.com/repos/<USER>/<PROJECT>/tags","blobs_url":"https://api.github.com/repos/<USER>/<PROJECT>/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/<USER>/<PROJECT>/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/<USER>/<PROJECT>/git/refs{/sha}","trees_url":"https://api.github.com/repos/<USER>/<PROJECT>/git/trees{/sha}","statuses_url":"https://api.github.com/repos/<USER>/<PROJECT>/statuses/{sha}","languages_url":"https://api.github.com/repos/<USER>/<PROJECT>/languages","stargazers_url":"https://api.github.com/repos/<USER>/<PROJECT>/stargazers","contributors_url":"https://api.github.com/repos/<USER>/<PROJECT>/contributors","subscribers_url":"https://api.github.com/repos/<USER>/<PROJECT>/subscribers","subscription_url":"https://api.github.com/repos/<USER>/<PROJECT>/subscription","commits_url":"https://api.github.com/repos/<USER>/<PROJECT>/commits{/sha}","git_commits_url":"https://api.github.com/repos/<USER>/<PROJECT>/git/commits{/sha}","comments_url":"https://api.github.com/repos/<USER>/<PROJECT>/comments{/number}","issue_comment_url":"https://api.github.com/repos/<USER>/<PROJECT>/issues/comments/{number}","contents_url":"https://api.github.com/repos/<USER>/<PROJECT>/contents/{+path}","compare_url":"https://api.github.com/repos/<USER>/<PROJECT>/compare/{base}...{head}","merges_url":"https://api.github.com/repos/<USER>/<PROJECT>/merges","archive_url":"https://api.github.com/repos/<USER>/<PROJECT>/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/<USER>/<PROJECT>/downloads","issues_url":"https://api.github.com/repos/<USER>/<PROJECT>/issues{/number}","pulls_url":"https://api.github.com/repos/<USER>/<PROJECT>/pulls{/number}","milestones_url":"https://api.github.com/repos/<USER>/<PROJECT>/milestones{/number}","notifications_url":"https://api.github.com/repos/<USER>/<PROJECT>/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/<USER>/<PROJECT>/labels{/name}","releases_url":"https://api.github.com/repos/<USER>/<PROJECT>/releases{/id}","created_at":"2014-06-06T15:17:07Z","updated_at":"2014-06-26T10:34:03Z","pushed_at":"2014-07-04T09:41:03Z","git_url":"git://github.com/<USER>/<PROJECT>.git","ssh_url":"git@github.com:<USER>/<PROJECT>.git","clone_url":"https://github.com/<USER>/<PROJECT>.git","svn_url":"https://github.com/<USER>/<PROJECT>","homepage":null,"size":324,"stargazers_count":0,"watchers_count":0,"language":"Go","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":1,"forks":0,"open_issues":1,"watchers":0,"default_branch":"master"}},"base":{"label":"<USER>:staging","ref":"staging","sha":"c96bedb18cdbbc580058fe7c2bef92ca454e2c1b","user":{"login":"<USER>","id":8465,"avatar_url":"https://avatars.githubusercontent.com/u/8465?","gravatar_id":"9b741203feda475cbeae8b384de9f415","url":"https://api.github.com/users/<USER>","html_url":"https://github.com/<USER>","followers_url":"https://api.github.com/users/<USER>/followers","following_url":"https://api.github.com/users/<USER>/following{/other_user}","gists_url":"https://api.github.com/user[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/<USER>/<PROJECT>/pulls
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4966'
      X-Ratelimit-Reset:
      - '1404469588'
      Etag:
  [...]
[...]
