name: Release new version to RubyGems.org

on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-slim

    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: ruby/setup-ruby@ac793fdd38cc468a4dd57246fa9d0e868aba9085 # v1.270.0
        with:
          bundler-cache: true
          ruby-version: ruby

      - uses: rubygems/release-gem@1c162a739e8b4cb21a676e97b087e8268d8fc40b # v1.1.2
